body {
  margin: 0;
  padding: 0;
  font-family: "Raleway" ,sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

@phone: ~"(max-width:450px)";
@mobile: ~"(max-width:787px)";
@tablet: ~"(max-width:991px)";
@notebook: ~"(max-width:1350px)";
/* Container  */

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header__logo {
  padding-left: 60px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}


.header.fixed {
  position: fixed;
  background-color: #80d8ff;
  height: auto;
  z-index: 1111;

}
.header.fixed .header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;

}

.nav {
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
}

.nav__link {
  margin-left: 50px;
  opacity: 0.9;
  color: #ffffff;
  line-height: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: opacity color .2s linear;

  &:hover {
    color: #000000;
    opacity: 1;
  }
  &--btn  {
    border: 1px solid #ffffff;
    padding: 6px 19px;
    transition: border-color .2s linear;
    border-radius: 2.0px;

  &:hover {
    border-color: #000000;
    }
  }
}

/* Intro */

.intro {
  height: 750px;
  background-size: cover;
  background: url(./../images/header/BG.png) center no-repeat;
  padding-top: 100px;
  position: relative;
}

.intro__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1440px;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 180px;
}
.intro__item {
  width: 40%;
}

.intro__title {
  font-size: 55px;
  line-height: 65px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 28px;
}

.intro__text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 40px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 22px 19px;
  border-radius: 5.0px;
  font-family: inherit;
  transition: background .1s linear;
  background-color: #061e37;
  width: 158px;
  height: 64px;
  text-align: center;
  margin-bottom: 24px;
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);

  &:hover {
    color: #061e37;
    background-color: #ffffff;
  }

  &--white {
    margin-left: 22px;
    color: #061e37;
    background-color: #ffffff;
    &:hover {
      background-color: #061e37;
      color: #ffffff;
    }
  }

  &--salad {
    background-color: #1de9b6;
    border-radius: 5.0px;
    color: #ffffff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    &:hover {
      background-color: #82b1ff;
      color: #ffffff;
    }
  }
  
}
.intro__video {
  background: url(./../images/header/layers.png) center no-repeat;
  width: 603px;
  height: 310px;
  border-radius: 5.0px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.intro__video__text {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #061e37;
}

/* Features */
.features {
  padding-top: 100px;
  text-align: center;
}
.features__header {
  max-width: 555px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 97px;
}
.features__header__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 14px;
}
.features__header__subtitle {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 600;
  color: #b0bec5;
  margin-bottom: 20px;
}
.features__header__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #b0bec5;
}
.features__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.features__item {
  max-width: 344px;
  margin-bottom: 73px;
}
.features__item__img {
  margin-bottom: 45px;
}
.features__title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 20px;
}
.features__text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #78909c;
}

/* Stats */
.stats {
  max-width: 1600px;
  padding-top: 90px;
  margin: 0 auto;

}

.stats__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.stats__item {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0; 

  &--salad {
    background-color: #80d8ff;
  }
  &--purple {
    background-color: #82b1ff;
  }
  &--violet {
    background-color: #b388ff;
  }
  &--pink {
    background-color: #ea80fc;
  }
}

.stats__text {
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
  color: #ffffff;
  max-width: 120px;
  margin-left: 23px;
}

/* Services */

.services {
  max-width: 828px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 94px;
}
.services__header {
  max-width: 555px;
  margin: 0 auto;
}
.services__header__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 29px;
}
.services__header__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #b0bec5;
  margin-bottom: 39px;
}
.services__item {
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
  padding-top: 33px;
  padding-bottom: 30px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 5.0px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}
.services__list__left {
  display: flex;
}
.services__list__title {
  margin-left: 25px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #061e37;
}
.services__list__img {
  width: 18px;
  height: 11px;
}
.service__content {
  display: flex;
  margin-top: 25px;
}
.service__content__text {
  max-width: 467px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #061e37;
  text-align: left;
  margin-left: 38px;
}

/* Feedback */

.feedback {
  max-width: 1600px;
  background-size: cover;
  background: url(./../images/feedback/bg.png) center no-repeat;
  margin: 0 auto;
}
.feedback__inner {
  padding-top: 40px;
  padding-left: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.feedback__descr {
  max-width: 40%;
  padding-top: 134px;
}
.feedback__descr__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 19px;
}
.feedback__descr__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 76px;
}
.feedback__clients {
  width: 50%;
  text-align: center;
}
.feedback__clients__item {
  display: flex;
  justify-content: space-between;
  height: 174px;
  align-items: center;
  margin-bottom: 60px;
  &--last {
    margin-bottom: 0; 
  }
}


.feedback__clients__arrow__up {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 80px;
}
.feedback__clients__text {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  width: 664px;
  height: 174px;
  background-color: #ffffff;
  border-radius: 5.0px;
  margin-left: 35px;
  padding: 20px 51px 40px 38px;
  text-align: left;
}
.feedback__clients__text__name {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #061e37;
  margin-bottom: 20px;
}
.feedback__clients__text__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #78909c;
}
.feedback__clients__arrow__down {
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 80px;
}

/* Team */

.team {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 89px;
}
.team__header__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 29px;
}
.team__header__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #b0bec5;
  max-width: 555px;
  margin: 0 auto;
  padding-bottom: 96px;
}
.team__photos {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 59px;
}
.team__photos__item__img--small {
  opacity: .2;
}
.team__content {
  max-width: 645px;
  margin: 0 auto;
}
.team__content__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #061e37;
  margin-bottom: 20px;
}
.team__content__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #90a4ae;
  margin-bottom: 29px;
}

.team__content__social {
  display: flex;
  max-width: 196px;
  justify-content: space-between;
  margin: 0 auto;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 20px;

}

.social__icon {
  display: block;
  height: 18px;
  fill: #90a4ae;
  transition: fill .2s linear;

  &:hover {
    fill: #1de9b6;
  }
}
/* Contact */
.contact {
  max-width: 1600px;
  background-color: #fafafa;
  margin: 0 auto;
  padding-bottom: 88px;
}

.contact__header {
  text-align: center;
  padding-top: 49px;
  max-width: 555px;
  margin: 0 auto;
}
.contact__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 29px;
}
.contact__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #061e37;
  margin-bottom: 49px;
}
.contact__field {
  max-width: 600px;
  margin: 0 auto;
}
.contact__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.info__item {
  width:47%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1.0px solid #061e37;
  border-radius: 5.0px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #061e37;
}
.contact__item--feedback {
  border: 1.0px solid #061e37;
  border-radius: 5.0px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #061e37;
  padding: 10px 20px;
  margin-bottom: 39px;
  height: 150px;
}
.contact__button {
  display: flex;
  justify-content: flex-end;
}

/* Footer */
.footer {
  max-width: 1600px;
  background-color: #061e37;
  margin: 0 auto;
  padding-bottom: 111px;
}
.footer__inner {
  padding-top: 98px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__info__social {
  display: flex;
}
.nav__link--end {
  margin-left: 0;
  margin-right: 44px;
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  transition: opacity .1s linear;
  &:hover {
    opacity: 1;
    color: #ffffff;
  }
}
.footer__info__social {
  max-width: 135px;
  display: flex;
  justify-content: space-between;
}
.social__item {
  margin-right: 10px;
}
.social__icon--footer {
  width: 19px;
  height: 16px;
  opacity: 0.2;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.03em;
  fill: #ffffff;
  transition: fill opacity .2s linear;

  &:hover {
    opacity: 1;
    fill: #ffffff;
  }
}
.burger {
  display: none;
  padding: 9px 2px;
  background: none;
  border: 0;
  cursor: pointer;
}
.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  font-size: 0;
  color: transparent;
  position: relative;
}
.burger__item:before,
.burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #fff;
  cursor: pointer;
}
.burger__item:after {
  bottom: -8px;
}
.burger__item:before {
  top: -8px;
} 


/* Media */

@media (max-width: 1350px) {
  .intro__video {
    width: 500px;
  }

  .feedback__clients__text {
    height: auto;
    padding-bottom: 18px;
  }
  .feedback__clients__arrow__up {
    margin-top: 0px;
    margin-bottom: 36px;
  }
  .feedback__clients__arrow__down {
    margin-top: 30px;
  }
}

@media (max-width: 1151px) {
  .intro__inner {
    justify-content: flex-start;
    padding-left: 42px;
  }
  .intro__title {
    font-size: 43px;
  }
  .intro__text {
    font-size: 15px;
  }

  .intro__item--video {
    padding-left: 70px;
  }
  .feedback__clients__text__text {
    font-size: 14px;
    line-height: 20px;
  }
  .feedback__descr {
    padding-top: 74px;
  }

}
@media (max-width: 1001px) {
  .intro__item {
    width: 100%;
  }
  .intro__inner {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .features__inner {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  .features__item  {
    width: 50%;
  }
  .stats__inner {
    flex-wrap: wrap;
  }
  .stats__item {
    width: 50%;
  }
  .feedback__clients__text {
    padding: 20px 24px 10px 22px;
  }
  .feedback__descr__text {
    margin-bottom: 46px;
  }
  .feedback__descr__title {
    font-size: 40px;
  }
}
@media (max-width: 900px) {
  .header__nav__button {
    display: none;
  }
}

@media (max-width: 850px) {

  .feedback__clients__text {
    padding: 10px 14px 10px 12px;
  }
  .feedback__clients__text__name {
    margin-bottom: 10px;
  }
  .feedback__descr {
    padding-top: 44px;
  }
  .feedback__descr__title {
    font-size: 32px;
  }
  .team {
    padding-top: 70px;
  }
  .team__header__text {
    padding-bottom: 66px;
  }
  .nav {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    flex-direction: column;
    width: 100%;
    text-align: right;
    background-color: #82b1ff;
    height: auto;
  }
  .nav.show {
    display: flex;
  }
  .nav__link {
    padding: 9px 15px;
  }
  .burger {
    display: block;
  }
  .intro__title{
    font-size: 40px;
  }

}
@media (max-width: 750px) {
  .intro {
    padding-top: 70px;
    height: 680px;
  }
  .intro__inner {
    padding-bottom: 100px;
  }
  .intro__video {
    width: 400px;
    height: 250px;
    margin: 0 auto;
  }
  .intro__item--video {
    padding-left: 0;
  }
  .intro__title {
    font-size: 33px;
    margin-bottom: 5px;
  }
  .intro__text {
    margin-bottom: 20px;
  }
  .btn {
    font-size: 13px;
    width: 128px;
    height: 54px;
    padding: 19px 19px;
  }
  .features {
    padding-top: 70px;
  }
  .features__header__title {
    font-size: 40px;
  }
  .features__header {
    margin-bottom: 67px;
  } 
  .features__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .services {
    max-width: 600px;
    padding-top: 70px;
    padding-bottom: 54px;
  }
  .services__content__img__photo {
    width: 200px;
    height: 200px;
  }

  .service__content__text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
  }

  .feedback__inner {
    text-align: center;
    justify-content: flex-start;
    padding-left: 10px;
  }
  .feedback__descr {
    width: 100%;
    max-width: 600px;
    padding-top: 24px;
  }
  .feedback__clients {
    width: 100%;
  }
  .feedback__clients__arrow__up,
  .feedback__clients__arrow__down {
    display: none;
  }

  .feedback__descr__text {
    margin-bottom: 16px;
    margin-left: 15px;
  }
  .feedback__clients__item {
    margin-bottom: 10px;
    flex-wrap: wrap;
    height: auto;
  }
  .feedback__clients__text {
    width: 100%;
    margin-left: 0px;
  }
  .feedback__clients__photo {
    display: none;
  }


  .team {
    padding-top: 40px;
  }
  .footer__inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav__link {
    margin-left: 10px;
  }
}
@media (max-width: 610px) {
  .header__logo {
    padding-left: 35px;
  }
}
@media (max-width: 574px) {
  .intro__inner {
    padding-left: 8px;
  }
  .intro__title {
    font-size: 23px;
    margin-bottom: 0px;
  }
  .intro__text {
    font-size: 13px;
  }
  .btn {
    font-size: 13px;
    width: 128px;
    height: 40px;
    padding: 13px 19px;
  }
  .intro__video {
    width: 350px;
    height: 200px;
    margin: 0 auto;
  }
  .intro {
    padding-top: 50px;
    height: 580px;
  }
  .features {
    padding-top: 40px;
  } 
  .features__header__title {
    font-size: 32px;
  }
  .features__header__subtitle {
    font-size: 20px;
  }
  .features__header__text {
    max-width: 350px;
    margin: 0 auto;
  }
  .features__header {
    margin-bottom: 35px;
  }
  .stats {
    padding-top: 50px;
  }
  .stats__item {
    width: 100%;
  }
  .services {
    max-width: 500px;
    padding-top: 40px;
    padding-bottom: 34px;
  }
  .services__header__title {
    font-size: 35px;
    margin-bottom: 19px;
  }
  .service__content {
    flex-wrap: wrap;
    text-align: center;
  }
  .services__content__img__photo {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .feedback__inner {
    padding-top: 20px;
  }
  .feedback__clients__text__text {
    font-size: 12px;
    line-height: 15px;
  }
  .feedback__clients__text__name {
    font-size: 14px;
  }
  .team {
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .team__header__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .team__header__text {
    padding-bottom: 36px;
 }
 .team__photos {
   padding-bottom: 35px;
 }
 .contact__title {
  font-size: 35px;
 }
 .info__item {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
 }
 .contact {
  padding-bottom: 48px;
}
 .contact__item--feedback {
   width: 90%;
   margin-right: auto;
   margin-left: auto;
 }
 .contact__button {
  justify-content: center;  
 }
 .nav__link--end {
   margin-right: 10px;  
 }
 .header__inner {
    padding: 20px 0;
 }
}
@media (max-width: 450px) {
  .footer__info {
    display: block;
    text-align: center;

  }
  .footer__info__social {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

}
@media (max-width: 400px) {
  .team__photos__item__img--small {
    display: none;
  }
  .intro {
    height: 500px;
  }
  .intro__title {
    font-size: 19px;
    line-height: 25px;
  }
  .intro__video {
    width: 280px;
    height: 150px;
  }
  .intro__video__button {
    padding-top: 15px;
  }
  .intro__text {
    font-size: 12px;
    line-height: 25px;
  }
  .btn {
    font-size: 13px;
    width: 108px;
    height: 40px;
    padding: 13px 2px;
  }
  .feedback__descr {
    padding-top: 4px;
  }
  .feedback__descr__title {
    font-size: 22px;
  }
  .feedback__descr__text {
    font-size: 13px;
    line-height: 20px;
  }
  .service__content__text {
    margin-left: 10px;
  }
  .header__logo {
    padding-left: 15px;
  }
}

